.text {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 400;
    opacity: 0.5;
}

.doc {
    font-size: 25px;
    font-weight: 400;

    color: rgba(255, 255, 255, 1); 
    opacity:0.8 ;
}
.footer-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0 0 0;
}
.color{
    color: rgba(255, 255, 255, 1); 
    opacity:0.8;
}

@media screen and (max-width: 580px) {
    .footer-full {
        padding-bottom: 40px;
    }
    .text {
        font-size: 20px;
    }
}
