.text {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 400;
    opacity: 0.5;
}

.doc {
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255);
    opacity: 0.9;
    margin: 0 3px;
  
    font-family: Iceland;
}
.footer-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0 0 0;
}


@media screen and (max-width: 580px) {
    .footer-full {
        padding-bottom: 40px;
    }
    .text {
        font-size: 20px;
    }
}
