.lowermain {
    padding: 0 200px;
    display: flex;
}

.lowermain > .m {
    flex: 1;
}

.lowermain > .r {
    padding: 0 100px;
}
@media screen and (max-width: 580px) {
    .lowermain {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }
    .lowermain:nth-child(-n + 3) {
        margin-left: 0;
    }
}
