.lowermain {
    display: flex;
}

.lowermain > .m {
    flex: 1;
}

.lowermain > .r {
    padding: 0 100px;
}

@media screen and (max-width: 1180px) {
    .lowermain > .m {
        flex: 0.9;
    }

    .lowermain > .r {
        padding: 0;
    }
}
@media screen and (max-width: 580px) {
    .lowermain {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }
    .lowermain .r {
        margin-left: 0;
    }
}
@media screen and (min-width: 1580px) {
    .lowermain > .r {
        padding: 0 6%;
    }
}
