.rightside-main{
    display:flex;
    align-items:center;
    flex-direction:column;
}
.spinner{

    margin-top: 200px;
}


.svg-one{
    width: 50px;
    height: 60px;
}

.svg-two{
    width: 80px;
    height: 90px;
}
.icon-one{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.two-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 580px)  {
    
    
    .rightside-main{
        flex-direction:column-reverse;
    }
    .spinner{
    margin: 100px;
    }
    
}