.rightside-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block-start: 0;
}
.spinner {
    margin-top: 120px;
}

.svg-one {
    width: 32px;
    height: 36px;
}

.svg-two {
    width: 55px;
    height: 60px;
    margin-bottom: 70px;
}
.icon-one {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.two-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 580px) {
    .rightside-main {
        flex-direction: column-reverse;
    }
    .spinner {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1180) {
}
