* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Iceland", sans-serif;
}

.app {
    background-image: url("../public/images/bg.png");
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    padding: 0 50px;
}

@media screen and (max-width: 580px) {
    .app {
        background: url("../public/images/mobile_bg.png");
        background-size: contain;
        background-position: top;
        /* background-position-y:30%  */
    }
}
